*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,211,255,1) 100%);
}

#app {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
}